/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: "Roboto", sans-serif;
}
body {
    overflow: hidden;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    font-size: 16px;
}

.container {
    width: 95%;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
}

.form-group {
    margin: 1rem 0;
}

label {
    cursor: pointer;
    display: inline-block;
    min-width: 140px;
    vertical-align: top;
}

.form-input {
    width: 600px;
}
/*
================================
navigation 
================================
*/
nav {
    width: 95px;
    height: 95vh;
    background: #2c5f4e;
    border-radius: 23px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 30% 14%;
    justify-content: center;
    align-items: center;

    animation: slideIn 1s ease;
    box-shadow: 1px 1px 10px #0d892e;
    transition:
        width 0.5s ease,
        grid-template-columns 0.25s ease,
        transform 0.35s ease;
}
nav.expanded {
    width: 175px;
    grid-template-columns: 57%;
}
.nav-element {
    width: 54%;
    height: 50px;
    border-radius: 100px;
    background: #3e8069;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    transition:
        transform 0.25s ease,
        background-color 0.25s ease;
}
.nav-element.profile-element {
    height: 100%;
    width: 100%;
    border-radius: 0px;
    display: grid;
    grid-template-rows: 5% 1fr;
    background: none;
}
.nav-element:hover:not(.profile-element) {
    transform: scale(1.08);
    background-color: #65ca80;
}
.active {
    background: #71cc8a;
    box-shadow: 0px 2px 15px #71cc8a;
}
.active svg path {
    stroke: #000;
}
svg {
    margin: 0 auto;
}
.pp {
    width: 54%;
    height: 48px;
    overflow: hidden;
    border: 3px solid #3e8069;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.profile-picture {
    max-width: 55px;
    height: auto;
}
.username {
    transition: visibility 1s ease;
}
/*
================================
Main
================================
 */

main {
    width: 95%;
    height: 95vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 1fr;
    border-radius: 20px;
}
.greetings {
    padding: 30px;
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 45px 10px;
}
.greetings h3 {
    color: #999;
}
.greetings h1:not(.main-title),
h3 {
    animation: slideDown 1s ease forwards;
}
.main-title {
    margin-top: 50px;
    margin-left: 200px;
    text-decoration: underline;
}
.circles {
    position: absolute;
    top: 0;
    right: 0;
}

.kanban {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    grid-gap: 80px;
}
.kanban-element {
    border: 3px solid #0d892e;
    border-radius: 20px;
    transform: translateY(150%);
    animation: slideUp 1s ease forwards;
}
.kanban-element:nth-child(2) {
    animation-delay: 0.2s;
}
.kanban-element:nth-child(3) {
    animation-delay: 0.4s;
}
.kanban-element h1:not(.task-name) {
    width: 85%;
    height: 60px;
    border-bottom: 2px solid #0d892e;
}
.kanban-element-header {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    align-items: center;
    padding-left: 30px;
}
.dots {
    width: 40px;
    height: 35px;
    background: #2c5f4e;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kanban-element-main {
    width: 90%;
    height: 45vh;
    max-height: 45vh;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.kanban-element-main::-webkit-scrollbar {
    width: 8px;
    height: 0;
}
.kanban-element-main::-webkit-scrollbar-track {
    background: transparent;
}
.kanban-element-main::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #b3b3b3;
}
.kanban-element-main::-webkit-scrollbar-button {
    display: none;
}
.kanban-element-footer {
    width: 90%;
    height: 90px;
    display: flex;
    justify-content: right;
    border-top: 3px solid #2c5f4e;
    margin: 0 auto;
    margin-top: 10px;
    align-items: center;
}
.create-butt {
    width: 15%;
    display: flex;
    justify-content: right;
}
.plus-button {
    width: 40px;
    height: 40px;
    background: #2c5f4e;
    border-radius: 40px;
    margin-right: 10px;
}
.in-progress {
    position: relative;
}
/* tasks */
.task-block {
    width: 98%;
    height: 140px;
    margin-top: 20px;
    border: 3px solid #35725e;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 16% 1fr;
    grid-template-areas: "taskName taskName" "profilePicture info";
}
.task-block{
    margin-bottom: 20px;
}
.task-name {
    width: 85%;
    height: 60px;
    grid-area: taskName;
    font-size: 23px;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.task-profile-block{
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-info {
    grid-area: info;
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 45% 1fr;
    padding-right: 20px;
}
.taskpp {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: profilePicture;
    width: 50px;
    height: 48px;
    overflow: hidden;
    border: 3px solid #3e8069;
    border-radius: 100px;
    margin-left: 10px;
}
.task-profile-picture {
    max-width: 55px;
    height: auto;
    background: green;
    margin-top: 20%;
}
.author-name{
    width: 100px;
    font-size: 19px;
    width: 20px;
    margin-left: 8px;
    color: #5a5a5a;
}
.department-display{
    width: 70px;
    height: 30px;
    background: #2c5f4e;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(223, 223, 223);
    margin-top: auto;
    margin-left: auto;
}
.department-display p{
    text-align: center;
}
.description-block{
    display: flex;
    padding-bottom: 20px;
}
.description{
    font-size: 14px;
    margin-left: 8px;
    color: #b3b3b3;
}
.date-block{
    width: 80px;
    height: 30px;
    font-size: 12px;
    border-radius: 10px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
/*
============================================
registration/login
============================================
 */
#reg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.registration-block {
    width: 60%;
    height: 60vh;
    border: 3px solid #2c5f4e;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 12% 1fr;
    grid-template-columns: 60% 1fr;
    grid-template-areas: "regh regh" "regf const";
    align-items: center;
}
.regh {
    grid-area: regh;
    text-align: center;
    text-decoration: underline;
    margin-top: 8%;
}
.registration-form {
    width: 75%;
    margin: 0 auto;
    grid-area: regf;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
input {
    height: 40px;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
}
input:not([type="submit"]),
textarea {
    padding-left: 10px;
}
label {
    margin-top: 4%;
}
.Layer_1 {
    grid-area: const;
}
.form-submit {
    width: 30%;
    margin-top: 10%;
    background: #2c5f4e;
    color: white;
    border: none;
}
.unactive {
    width: 20%;
    height: 35px;
    border-radius: 10px;
    background: grey;
}
.select-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
select {
    width: 80%;
}
/* 
========================================
edit/create
========================================
 */
#edit {
    width: 86%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-left: 8%;
}
.create-block {
    width: 80%;
    height: 65vh;
    border: 3px solid #2c5f4e;
    border-radius: 20px;
    display: grid;
    padding: 20px;
    grid-template-columns: 60% 1fr;
}
.repo-name {
    font-size: 22px;
}
.create-form {
    display: flex;
    flex-direction: column;
}
select {
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    padding-left: 10px;
}
textarea {
    height: 160px;
    resize: none;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    padding-top: 8px;
}
/* 
====================================
profile
====================================
*/
.profile-block {
    width: 60%;
    height: 500px;
    border: 3px solid #2c5f4e;
    border-radius: 10px;
    display: grid;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/* 
=========================================
animations
========================================= 
*/
@keyframes slideIn {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideUp {
    from {
        transform: translateY(150%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-350px);
    }
    to {
        transform: translateY(0);
    }
}
